# Target pistolstub: stands in for the pistol until the S3 board exists.
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

CONFIG_PM_ENABLE=n
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n

CONFIG_ESP_WIFI_STATIC_TX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=32
